<div class="header-top">
    <div class="header-info d-none d-md-block">

        <span>Blanco Floral</span><br>
        <span>Serving the Greater Prosper Area</span><br>
        <span>Prosper, TX 75078</span>
    </div>
    <div class="d-md-none col-3">
        <button class="btn btn-link" id="sidebarToggle" style="font-size:2rem;padding:0 10px 0 0;">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="header-logocol-6">
        <img src="assets/blanco-logo.avif" alt="Blanco Floral Logo" height="200">
    </div>
    <div class="header-account col-3">
        <div class="dropdown-account header-info d-none d-md-block" <a href="#" class="dropdown-toggle-account">MY
            ACCOUNT ▼</a>
            <ul class="dropdown-menu-account">
                <li><a href="login.html"><img src="assets/icon-sign-out.svg" alt="Login"
                            style="height:19px;width:auto;vertical-align:middle;margin-right:6px;">Login</a></li>
                <li><a href="signup.html"><img src="assets/icon-acct-person.svg" alt="Sign Up"
                            style="height:19px;width:auto;vertical-align:middle;margin-right:6px;">Sign Up</a></li>
            </ul>
        </div>
        <a href="/checkout.html">
            <span class="header-cart">
                <img src="https://cdn-icons-png.flaticon.com/512/1170/1170678.png" alt="Cart" width="28"
                    style="vertical-align:middle;">
                <span class="cart-badge" id="cartCount">0</span>
            </span>
        </a>
    </div>
</div>
<!-- Offcanvas sidebar for mobile -->
<div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="mobileSidebarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="header-nav-mobile"><a href="/index.html">SHOP</a>
            <div class="dropdown-order-online">
                <a href="#" class="dropdown-toggle-order">
                    ORDER ONLINE ▾
                </a>
                <ul class="dropdown-menu-order">
                    <li><a href="/prosper-florist-flower-delivery.html/bouquet">Bouquet</a></li>
                    <li><a href="/prosper-florist-flower-delivery.html/boxes">Boxes</a></li>
                    <li><a href="/prosper-florist-flower-delivery.html/vase">Vase</a></li>
                    <li><a href="/prosper-florist-flower-delivery.html/bridal-bouquet-collection">Bridal Bouquet
                            Collection</a></li>
                </ul>
            </div>
            <a href="#">WEDDINGS AND EVENTS</a>
            <a href="#">ABOUT US</a>
            <a href="#">SUBSCRIPTIONS</a>
        </nav>
    </div>
</div>
<div class="header-main d-none d-md-block">
    <nav class="header-nav">
        <a href="/index.html">SHOP</a>
        <div class="dropdown-order-online">
            <a href="#" class="dropdown-toggle-order">
                ORDER ONLINE ▾
            </a>
            <ul class="dropdown-menu-order">
                <li><a href="/prosper-florist-flower-delivery.html/bouquet">Bouquet</a></li>
                <li><a href="/prosper-florist-flower-delivery.html/boxes">Boxes</a></li>
                <li><a href="/prosper-florist-flower-delivery.html/vase">Vase</a></li>
                <li><a href="/prosper-florist-flower-delivery.html/bridal-bouquet-collection">Bridal Bouquet
                        Collection</a></li>
            </ul>
        </div>
        <a href="#">WEDDINGS AND EVENTS</a>
        <a href="#">ABOUT US</a>
        <a href="#">SUBSCRIPTIONS</a>
    </nav>
</div>